<div class="content cf">
  <div class="breadcrumbs">
    <a href="/">Главная</a>  
    <span class="arrow"> ></span>
    <span class="last"> О компании</span>
    </div>
  
  <div class="left-side">
    <%= render 'shared/product_menu' %>
   </div>
   
  <div class="right-side cf">
    <h1>Полезное</h1>
    <div class="blog-item" href="/blog/1">
      <div class="blog-img">
        <%= image_tag 'project-img.png' %>
       </div>
       <div class="blog-item_content">
          <h3 class="blog-item_title">Выбираем холодильное оборудование для супермаркетов</h3>
          <p>Супермаркеты в практике зарубежной торговли расцениваются как магазины средней площади. Однако, для нашей страны, ввиду того, что продуктовые гипермаркеты получили развитие пока только в городах-миллионниках, формат супермаркета попадает в категорию крупного магазина. Как результат, спрос на торговое оборудование для супермаркетов гораздо больше, чем в Супермаркеты в практике зарубежной торговли расцениваются как магазины средней площад</p>
          <a href="/blogs/show" class="blog-item_more">Читать далее ></a>
       </div>
    </div>
    
    <div class="blog-item" href="/blog/1">
      <div class="blog-img">
        <%= image_tag 'project-img.png' %>
       </div>
       <div class="blog-item_content">
          <h3 class="blog-item_title">Выбираем холодильное оборудование для супермаркетов</h3>
          <p>Супермаркеты в практике зарубежной торговли расцениваются как магазины средней площади. Однако, для нашей страны, ввиду того, что продуктовые гипермаркеты получили развитие пока только в городах-миллионниках, формат супермаркета попадает в категорию крупного магазина. Как результат, спрос на торговое оборудование для супермаркетов гораздо больше, чем в </p>
          <a href="/blogs/show" class="blog-item_more">Читать далее ></a>
       </div>
    </div>
  </div>
</div>

