<div class="content cf main-content">
  <div class="breadcrumbs">
    <a href="/">Главная</a>
    <span class="arrow"> ></span>
    <span class="last"><%= @post.title %></span>
  </div>
   <h1><%= @post.title %></h1>
    <!-- <div class="blog-picture">
      <%= image_tag 'project-img.png' %>
    </div> -->
    <div class="blog-item_content">
      <%= raw @post.content %>
   </div>
</div>
