.product {
  &_title {
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    background: $blue;
    margin-bottom: 10px;
  }

  &_item {
    width: 277px;
    height: 260px;
    display: inline-block;
    margin-right: 26px;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
    position: relative;
    background: white;
    transition: all 0.4s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);

    &-last_in_row {
      margin-right: 0;
    }

    img {
      width: 277px;
      height: 250px;
      display: block;
      margin: 0 auto;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_name {
      display: block;
      color: white;
      font-weight: 700;
      background-color: $blue;
      padding: 5px 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.4s;
    }

    &--last {
      margin-right: 0;
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }

    &:hover > &_name {
      background-color: $blue;
    }
  }
}

@media (max-width: 767px) {
  .product {
    &_item {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;

      &:nth-child(3n - 1) {
        margin: 0 auto;
        margin-bottom: 1rem;
      }
    }
  }
}
