.product {
  &_title {
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    background: #0193e1;
    margin-bottom: 20px;
  }

  &_item {
    display: inline-block;
    margin-right: 52px;
    text-decoration: none;
    border: 1px solid #0193e1;
    box-sizing: border-box;
    margin-bottom: 20px;

    &_name {
      color: #fff;
      font-weight: 700;
      background-color: #3b8bb5;
      padding: 5px 10px;
      margin-top: -5px;
    }

    &--last {
      margin-right: 0;
    }

    &:hover {
      color: #fff;
      border: 1px solid #105478;
      text-decoration: underline;
    }

    &:hover > &_name {
      background-color: #105478;
    }
  }
}
