.project-item {
  border: 3px solid #7dc6ed;
  padding: 15px;
  display: block;
  text-decoration: none;
  margin-bottom: 15px;

  &_preview {
    float: left;
    margin-right: 10px;
  }

  &_title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #0193e1;
    font-weight: 700;
    font-size: 18px;
  }
}
