._projects {
  min-height: calc(100vh - 175px);
}

.project-item {
  border: 3px solid #7dc6ed;
  padding: 15px;
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
  color: black;
  transition: all 0.6s;

  &:hover {
    border: 3px solid rgba(16, 84, 120, 0.62);
    background-color: rgba(179, 222, 229, 0.16);
  }

  &_preview {
    float: left;
    margin-right: 10px;
  }


  &_title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #0193e1;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.project-container{
  margin-bottom:30px;

}
.project-img{
  width: 265px;
  height: 200px;
  display:inline-block;
  float: left;
  img{
    width: 100%;
    height: 100%;
  }
}
.project-text{
  width: 900px;
  display:inline-block;
  float: left;
  margin-left:35px;
}
.project-gall{
  position:relative;
  .swiper-container{
    height: 250px;
  }
  .swiper-slide{
    a{
      display: inline-block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.project-gall-container{
  position: static;
}
.project-gall-wrapper{
  //position:static;
}
.project-gall-prev{
  margin-top: -14px;
  left: -30px;
  background: url(asset-path('prev.png')) center center no-repeat;
}
.project-gall-next{
  margin-top: -14px;
  right: -30px;
  background: url(asset-path('next.png')) center center no-repeat;
}

.project-banner {
  width: 295px;
  height: 220px;
  background: url(asset-path('project-img.png')) center center no-repeat;
  background-size: contain;
  &._1{
    background: url(asset-path('project-img.png')) center center no-repeat;
    background-size: contain;
  }
  &._2{
    background: url(asset-path('project-img.png')) center center no-repeat;
    background-size: contain;
  }
}