/* line 1, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/base.scss */
body {
  margin: 0;
}

/* line 4, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/base.scss */
.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 2, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.header_logo {
  display: inline-block;
  width: 131px;
  height: 56px;
  background: url(logo.png);
  vertical-align: middle;
}
/* line 9, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.header_item {
  display: inline-block;
  padding: 25px 14px;
  color: #191012;
  font-size: 18px;
  font-weight: 300;
  border-right: 1px solid #d9d9d9;
  cursor: pointer;
  margin-left: -4px;
}
/* line 18, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.header_item:first-child {
  border-left: 1px solid #d9d9d9;
}
/* line 22, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.header_phone {
  display: inline-block;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 900;
  color: #014d89;
}

/* line 32, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

/* line 42, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/* line 57, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

/* line 62, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/shared/_header.scss */
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  transform: scaleX(1);
}

/* line 1, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.banner {
  height: 264px;
  width: 100%;
  min-width: 1200px;
  background: url(slide_1.png) center center no-repeat;
  background-size: cover;
}

/* line 9, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock {
  font-size: 0;
}
/* line 12, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock_item {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  float: left;
  width: 238px;
  height: 278px;
  border-right: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}
/* line 22, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock_item:nth-child(6), .stock_item:nth-child(2) {
  border-left: 1px solid #c5c5c5;
}
/* line 27, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock_item:nth-child(2), .stock_item:nth-child(3), .stock_item:nth-child(4), .stock_item:nth-child(5), .stock_item:nth-child(6) {
  border-top: 1px solid #c5c5c5;
}
/* line 33, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock_item_sale {
  font-size: 2.8rem;
  color: #0093e0;
}
/* line 38, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock_item_price {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 25px;
  background: #c10302;
  padding: 5px 15px;
  color: #fff;
}
/* line 49, /Users/Developer/Documents/pet-projects/administarte/app/assets/stylesheets/index/index.scss */
.stock--sale {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 238px;
  height: 278px;
  text-align: center;
  padding-top: 70px;
}
