.contacts {
  display: inline-block;
  margin-right: 7px;
  float: left;

  &_phone {
    color: $text-color;
    font-size: 20px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &_adress {
    color: $text-color;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }

  &_btn {
    display: inline-block;
    background-color: $red;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.6s;
    float: left;

    &:hover {
      background-color: $red;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .contacts {
      float: none;
      margin: 0;
    }

    .contacts_btn {
      display: block;
      float: none;
      margin: 1rem;
    }
  }
}
