.search-block {
  margin-bottom: 1rem;
}
.search-input {
  margin-right: .5rem;
  height: 1rem;
  padding: .3rem;
  width: 300px;
  font-size: .8rem;
}
.search-btn {
  font-size: 2rem;
  width: 4rem;
}
