<!--.content.cf-->
<!--  .breadcrumbs-->
<!--    a href="/" Главная-->
<!--    span.arrow >-->
<!--    span.last О компании-->
<div class="content cf">
    <h1>Оборудование для ресторана «огни брянска»</h1>
    <div class="project-container cf">
        <div class="project-img">
            <%= image_tag 'project-img.png' %>
        </div>
        <div class="project-text">Учреждения для маленьких детей должны обеспечивать максимально здоровые и комфортные условия. Холодильное оборудование играет в этой задаче не последнюю роль. Продукты необходимо хранить строго в надлежащих условиях. В противном случае слабые детские организмы легко поддаются отравлению, не говоря уже о том, что еда из неправильно хранящихся продуктов невкусная. Для детских садов предъявляются очень высокие требования к хранению продуктов. Холодильные блоки разделяют на несколько категорий в зависимости от температурного режима, который они могут обеспечить. Оборудование: Среднетемпературное; Низкотемпературное; Быстрого замораживания.
            При выборе оборудования следует учесть, что оно должно быть достаточно большим и иметь отдельные секции для хранения разного типа продуктов. Применение современных безвредных технологий также очень важно.
            
            Холодильные блоки разделяют на несколько категорий в зависимости от температурного режима, который они могут обеспечить. Оборудование: Среднетемпературное; Низкотемпературное; Быстрого замораживания.
            При выборе оборудования следует учесть, что оно должно быть достаточно большим и иметь отдельные секции для хранения разного типа продуктов. Применение современных безвредных технологий также очень важно.</div>
    </div>
    <div class="project-gall">
     <div class="swiper-container project-gall-container" data-prodject-gal>
      <div class="swiper-wrapper project-gall-wrapper">
        <div class="swiper-slide project-banner _1"></div>
        <div class="swiper-slide project-banner _2"></div>
        <div class="swiper-slide project-banner _3"></div>
        <div class="swiper-slide project-banner _4"></div>
      </div>
        <div class="swiper-button-prev project-gall-prev" data-prodject-gall-prev></div>
        <div class="swiper-button-next project-gall-next" data-prodject-gall-next></div>
     </div>
    </div>


</div>


