.product-menu_item {
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;

  &_title {
    color: #0193e1;
    font-size: 16px;
    margin: 5px 0;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
  }

  &_sub {
    box-sizing: border-box;
    padding-left: 20px;
    transition: all 0.4s;
    position: relative;

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      color: #494949;
      margin: 5px 0;
      transition: all 0.4s;
    }

    &:hover {
      &::before {
        content: '';
        width: 5px;
        height: 9px;
        background: url('../images/sub_arrow.png') center no-repeat;
        background-size: cover;
        display: inline-block;
        margin-bottom: 1px;
        position: absolute;
        left: 5px;
        top: 8px;
      }
    }
  } 

  &_title::before {
    content: '';
    width: 8px;
    height: 11px;
    background: url('../images/title_arrow.png') center no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
  }
}
