.attribute-label {
  @include data-label;
  @include span-columns(2 of 12);
  margin-top: 0;
  text-align: right;
  clear: left;
}

.preserve-whitespace {
  white-space: pre;
  word-wrap: break-word;
}

.attribute-data {
  @include span-columns(10 of 12);
  @include omega;
  margin-bottom: $base-spacing;

  &--html-field {
    padding: 20px;
    box-shadow: 0 2px 6px rgba(41, 63, 84, 0.24),
                0 2px 6px rgba(41, 63, 84, 0.24),
                0 2px 6px rgba(41, 63, 84, 0.24),
                0 2px 6px rgba(41, 63, 84, 0.24);
  }
}
