@font-face {
	font-family: "Roboto";
	src:  font-url("Roboto-Regular.eot?") format("eot"),
        font-url("Roboto-Regular.ttf") format("truetype"),
        font-url("Roboto-Regular.svg#Samplino") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f8f8f8;
}

p {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.main-content {
  min-height: calc(100vh - 176px);
}

.cf::after,
.cf::before {
  content: "";
  display: table;
  clear: both;
}

.left-side,
.right-side {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
}

.left-side {
  width: 300px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
}

.right-side {
  width: 900px;
  padding: 0 20px;
}

.text_content {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

@media (max-width: 767px) {
  .content {
    width: 100%;

    & h1 {
      text-align: center;
    }
  }

  .mobile_hide {
    display: none;
  }

  .left-side {
    width: 100%;
    margin-bottom: 1rem;
  }

  .right-side {
    width: 100%;
    padding: 0;

    & h1 {
      text-align: center;
    }
  }
}

.content_block_text {
  width: 900px;
  display: block;
  margin: 0 auto;

  p {
    margin: 1rem 0;
  }
}
